abnf==2.2.0
absl-py==2.1.0
anyio==4.9.0
appdirs==1.4.4
argparse-dataclass==2.0.0
arxiv_latex_cleaner==1.0.8
asttokens==2.4.1
astunparse==1.6.3
attrs==25.3.0
black==25.1.0
build==1.2.2.post1
CacheControl==0.14.2
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
cint==1.0.0
cleo==2.1.0
click==8.1.8
conda-inject==1.3.2
ConfigArgParse==1.7.1
connection_pool==0.0.3
crashtest==0.4.1
cryptography==45.0.3
decorator==5.1.1
distlib==0.3.9
docutils==0.22
dpath==2.2.0
dulwich==0.22.8
executing==2.1.0
fastjsonschema==2.21.1
fickling==0.1.3
filelock==3.16.1
findpython==0.6.3
gitdb==4.0.12
GitPython==3.1.45
graphviz==0.20.3
greenlet==3.1.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
humanfriendly==10.0
idna==3.10
immutables==0.21
installer==0.7.0
intervaltree==3.1.0
ipython==8.29.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jupyter_core==5.8.1
kaitaistruct==0.10
keyring==25.6.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
more-itertools==10.7.0
msgpack==1.1.0
mypy_extensions==1.1.0
nbformat==5.10.4
networkx==3.4.2
numpy==2.1.3
packaging==25.0
pandas==2.2.3
parso==0.8.4
pathspec==0.12.1
pbs-installer==2025.4.9
pdfminer.six==20240706
pexpect==4.9.0
pillow==11.1.0
pkginfo==1.12.1.2
platformdirs==4.3.6
poetry==2.1.2
poetry-core==2.1.2
polyfile==0.5.5
prompt_toolkit==3.0.48
psutil==7.0.0
ptyprocess==0.7.0
PuLP==3.2.2
pure_eval==0.2.3
pycparser==2.22
Pygments==2.18.0
PyMuPDF==1.25.3
pynvim==0.5.2
PyPDF2==3.0.1
pyproject_hooks==1.2.0
pyprojroot==0.3.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
RapidFuzz==3.13.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
reretry==0.11.8
rpds-py==0.27.0
setuptools==75.6.0
shellingham==1.5.4
six==1.16.0
smart_open==7.3.0.post1
smmap==5.0.2
snakemake==9.9.0
snakemake-interface-common==1.21.0
snakemake-interface-executor-plugins==9.3.9
snakemake-interface-logger-plugins==1.2.4
snakemake-interface-report-plugins==1.2.0
snakemake-interface-storage-plugins==4.2.2
sniffio==1.3.1
sortedcontainers==2.4.0
stack-data==0.6.3
tabulate==0.9.0
throttler==1.2.2
tomlkit==0.13.2
traitlets==5.14.3
trove-classifiers==2025.4.11.15
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.4.0
virtualenv==20.27.1
wcwidth==0.2.13
wheel==0.45.1
wrapt==1.17.2
xattr==1.1.4
yte==1.9.0
zstandard==0.23.0
